* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #0D0D0D;
    --second-gb-color: #C7B285;
    --text-color: #ec4f1f;
    --second-color: #F7F7F7;
    --main-color: #618A2C;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --section-title-font: 3rem;
    --section-subtitle-font: 1.5rem;
    --section__subtitle-margin-bottom: 20px;
    --btn-color: #547924;
    --active-btn-color: #618A2C;
    --portfolio-txt-color: white;
    --portfolio-bg-color: #ec4f1f;
    --scrollup-icon-color: white;
    --scrollup-icon-bg: #618A2C;
    --icon-size: 5rem;
}

body {
    background-image: url(/img/noise.png);
    background-size: 200px 200px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    box-sizing: border-box;
    padding: 100px 15% 120px;
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.section__title,
.section__subtitle {
    text-align: center;
    margin-bottom: var(--section__subtitle-margin-bottom);
}

.section__subtitle {
    color: var(--main-color);
    display: block;
    font-size: var(--section-subtitle-font);
}

.section__title {
    font-size: var(--section-title-font);
    color: var(--title-color);
}

.container {
    /*border:  5px dashed greenyellow;*/
    height: 100%;
    margin: auto;
    max-width: 1350px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
}

header span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    transition: all .45s ease;

}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}


/* ========= HOME =========*/

.home {
    height: 100vh;
    width: 100%;
}

.container-home {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.container-upper {
    /*border: dashed 2px#547924;*/
    display: flex;
    height: 90%;
    width: 100%;
}

.container-home-bottom {
    /*border: dashed 2px#547924;*/
    display: flex;
    height: 10%;
}

.container-home-bottom .container-right {
    background-color: var(--main-color);
    filter: blur(100px);
    opacity: 0.3;
}

.container-left {
    /*border: dashed 2px magenta;*/
}

.container-right {
    /*border: dashed 2px greenyellow;*/
}

.home .container-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .container-left span {
    color: var(--main-color);
}

.home .container-left h2 {
    margin-bottom: 20px;
}

.home .container-left h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.home .container-left p {
    margin-bottom: 30px;
}

.home .container-right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home .container-right img {
    outline: 50px solid rgba(0, 0, 0, .5);
    outline-offset: -20px;
    opacity: 0.5;
    margin: auto;
    width: 60%;
    border-radius: 60% 60% 50% 50% / 30% 30% 70% 70%;

}

.home .contact-icons {
    translate: 0px 50px;
}

.contact-icons i {
    font-size: 2.2rem;
    color: var(--bg-color);
    background-color: var(--btn-color);
    margin: 5px;
    border-radius: 50%;
    padding: 2px;
}

.contact-icons a {
    color: var(--main-color);
    font-size: 3rem;
}

.contact-icons i:hover {
    transform: scale(1.3);
    transition: 0.5s;
}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    /*background-color: var(--main-color);*/
    border: 2px solid var(--btn-color);
    border-radius: 50px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.45s ease;
    margin: 5px;
}

.btn:hover {
    transform: scale(1.1);
    color: var(--bg-color);
    background-color: var(--main-color);
}


header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}


/* ==================== About ==================== */

.about img {
    width: 20rem;
    border-radius: 20px;
    outline: 5px solid rgba(0, 0, 0, 0.5);

    /*outline-offset: -20px;*/
}


.about .container-upper .container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .container-about-bottom {
    display: flex;
    /*border: 1px magenta solid;*/
}

.about .container-about-bottom .container-left {
    background-color: var(--main-color);
    width: 50px;
    height: 100%;
    filter: blur(40px);
    opacity: 0.9;
}

.about .container-right {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    line-height: 120%;
    margin-bottom: 10px;
}

.about .center-text{
    display: flex;
    justify-content: center;
}

/* ==================== EXPERIENCE SECTION ==================== */

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.qualification__button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    background: var(--btn-color);
    border-radius: 10px;
    align-items: center;
    /* Vertically center */
}


.qualification__button:hover {
    color: white;
}

.qualification__icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: white;
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
    transform: translate(6px, -7px);
}


.qualification [data-content] {
    display: none;
}


.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: white;
}

.courses {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    /*border: 2px solid #547924;*/
    margin-top: 20px;
}

.courses .courses-title {
    text-align: center;
}

.courses .courses-list {
    text-align: left;
    margin-top: 10px;
}

/* ===== PORTFOLIO SECTION ===== */

.portfolio-main {
    margin-top: 20px;
    overflow: hidden;
    /*border: 1px solid #618A2C;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterDiv {
    width: 180px;
    height: 180px;
    overflow: hidden;
    background-color: var(--portfolio-bg-color);
    color: var(--portfolio-txt-color);
    /*line-height: 180px;*/
    text-align: center;
    margin: 5px;
    display: none;
    cursor: pointer;
    border-radius: 10px;

    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    /* Add a smooth transition effect */
}

.filterDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filterDiv:hover .overlay {
    opacity: 1;
    height: 100%;
    transition: ease-in-out 0.5s;
    /* Show the overlay on hover */
}

.overlay p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.filterDiv:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s;
}




/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 200px;
    padding-bottom: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

.modal-title {
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-sizing: border-box;
}

.modal-content p {
    color: var(--text-color);
}

.modal-content img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-links {
    display: flex;
    justify-content: center;
    font-size: var(--icon-size);
}

.project-links a {
    color: #ec4f1f;
}

.project-links a:hover {
    transform: scale(1.1);
}


#myBtnContainer {
    display: flex;
    justify-content: center;
}

.show {
    display: block;
}


.portfolio-btn {
    box-sizing: border-box;
    justify-content: center;
    border: none;
    outline: none;
    padding: auto;
    background-color: var(--btn-color);
    cursor: pointer;
    width: 120px;
    height: 50px;
    margin: 2px;
    border-radius: 5px;
}

.portfolio-btn:hover {
    background-color: var(--active-btn-color);
    transform: scale(1.1);
}

.portfolio-btn.portfolio-active {
    background-color: var(--active-btn-color);
    color: white;
    border-radius: 10px;
}

/* ===== SKILLS SECTION ===== */

.grid {
    display: grid;
    gap: 1rem;
}

.skills__titles {
    display: flex;
    align-items: center;
}

.skills__titles i {
    font-size: 2.5rem;
}

.skills__name {
    margin-left: 10px;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
}

.skills__open .skills__list {
    height: max-content;
}

.skills__close .skills__list {
    display: none;
}

.skills__list {
    row-gap: 2px;
    padding-left: 2.5rem;
}

.skills__icon {
    margin-right: 10px;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--main-color);
}

.skills__arrow {
    margin-left: auto;
    transition: 0.4s;
}


.skills__content {
    margin: 20px 20px;
}



/* ===================== CONTACT ===================== */
.contact-content {
    /*border: #547924 solid 2px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-content .left-side {
    /*border: #547924 solid 2px;*/
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5px;
}


.contact-content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
}

.contact-content .left-side .details {
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    /*border: solid white 1px;*/
    width: 180px;
}


.contact-content .left-side .details i {
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 5px;
}

.contact-content .left-side .details i:hover {
    transform: scale(1.1);

}

.contact-content a {
    color: var(--main-color);
}

.contact-content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.contact-content .left-side .details .text-one,
.contact-content .left-side .details .text-two {
    font-size: var(--normal-font-size);
    color: var(--main-color);
}

.contact-content .right-side {
    padding: 15px;
    /*border: #547924 solid 2px;*/
    width: 70%;
    margin-left: 75px;
}

.contact-content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
}

.contact-content .right-side .input-box {
    height: 55px;
    width: 100%;
    margin: 12px 0;
}

.contact-content .right-side .input-box input,
.contact-content .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.contact-content .right-side .message-box {
    min-height: 110px;
}

.contact-content .right-side .input-box textarea {
    padding-top: 6px;
}

.contact-content .right-side .button {
    display: inline-block;
    margin-top: 12px;
}


.contact-content .right-side .button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--btn-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-content .button input[type="submit"]:hover {
    background: var(--active-btn-color);
    transform: scale(1.1);
}


.contact-head {
    text-align: center;
}

/*END CONTACT*/

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--scrollup-icon-bg);
    opacity: .8;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 9999;
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--scrollup-icon-color);
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

@media (max-width: 950px) {

    /*
    .container {
      width: 90%;
      padding: 30px 40px 40px 35px;
    }
    */
    .container .contact-content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .contact-content {
        flex-direction: column-reverse;
    }

    .container .contact-content .left-side {
        box-sizing: border-box;
        width: 100%;
        flex-direction: row;
        margin-top: 0;
        justify-content:space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .container .contact-content .left-side::before {
        display: none;
    }

    .container .contact-content .right-side {
        width: 100%;
        margin-left: 0;
    }
}





@media screen and (min-width: 768px) {
    .qualification__button {
        margin: 0 20px;
    }

    /*
    .skills-container {
        margin-left: auto;
        margin-right: auto;
    }
    */
}


@media screen and (min-width: 568px) {
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .qualification__sections {
        grid-template-columns: .5fr;
    }

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {}

.container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .experience .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .experience .text-box {
        font-size: 13px;

    }

    .experience .text-box small {
        margin-bottom: 10px;
    }

    .experience .right-container {
        left: 0;
    }

    .experience .left-container img,
    .experience .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #C7B285;
        border-left: 0;
        left: -15px;
    }

}